In [28]:
import datetime

In [64]:
import pandas as pd

In [65]:
dataset = pd.read_excel('test.xlsx', sheet_name='invoices')
payments = pd.read_excel('test.xlsx', sheet_name='pays')

In [100]:
class Provider:
    
    def __init__(self, name):
        self.name = name
        self.invoices = pd.DataFrame()
        self.all_invoices()
        
    def add_invoice(self, new_invoice): 
        my_dataset = pd.DataFrame({
            'company': [self.name],
            'num_invoice': [new_invoice.num_invoice],
            'date_invoice': [new_invoice.date_invoice],
            'date_expiration': [new_invoice.date_expiration],
            'value': [new_invoice.value]
            },
            columns = ['company','num_invoice', 'date_invoice', 'date_expiration','value']
        )
        
        if type(self.invoices == str):
            self.invoices = pd.DataFrame(my_dataset)
        else:
            self.invoices = pd.concat([self.invoices, my_dataset], axis=0)
    
    def get_invoice(self, num_inv):
        result = filter(lambda x: x['num_invoice'] == num_inv, self.invoices)
        return list(result)
    
    def save(self):
        name_file = 'test.xlsx'
        
        dataset = pd.read_excel('test.xlsx')
        dataset = pd.concat([self.invoices, dataset], axis=0)
        
        dataset.to_excel(name_file, index=False)  
    
    def number_day(self, date_expiration):
        day, month, year = date_expiration.split('/')
        date_result = datetime.datetime(int(year), int(month), int(day)).strftime('%j')
        return int(datetime.datetime.now().strftime('%j')) - int(date_result)
    
    def overdue_bills(self):
        self.invoices['number_day'] = self.invoices['date_expiration'].apply(lambda x: self.number_day(x))
        result = self.invoices.loc[self.invoices['number_day'] > 1]
        return result
    
    def payments(self, obj):
        df_result = payments.loc[payments['referencia'] == obj]
        total = df_result['valor pagado'].sum()
        return total
    
    def all_invoices(self):
        self.invoices = dataset.loc[dataset['company'] == self.name]
        self.invoices['payments'] = self.invoices['num_invoice'].apply(lambda x: self.payments(x))
        self.invoices['balance'] = self.invoices['value'] - self.invoices['payments']

In [101]:
class Invoice:
    def __init__(self, num_invoice, date_invoice, date_expiration, value):
        self.num_invoice = num_invoice
        self.date_invoice = date_invoice,
        self.date_expiration = date_expiration
        self.value = value

In [102]:
today = datetime.datetime.now().strftime('%x')

In [139]:
company = input('ingrese nombre de la empresa: ')

prov = Provider(company)

ingrese nombre de la empresa: trefilados

C:\Users\JOHN\AppData\Local\Temp\ipykernel_12760\1773765555.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.invoices['payments'] = self.invoices['num_invoice'].apply(lambda x: self.payments(x))
C:\Users\JOHN\AppData\Local\Temp\ipykernel_12760\1773765555.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.invoices['balance'] = self.invoices['value'] - self.invoices['payments']

In [140]:
'No hay facturas pendientes para {}'.format(prov.name) if len(prov.invoices) == 0 else prov.invoices

,company,num_invoice,date_invoice,date_expiration,value,payments,balance
10,trefilados,PTO124150,2023-09-01,2023-09-01,48500.0,48500.0,0.0

## Ingreso de Facturas

In [8]:
new_invoice = Invoice('44411633','06/05/2023','20/06/2023',990204)
prov.add_invoice(new_invoice)
prov.save()

In [9]:
prov.invoices

        company num_invoice   date_invoice date_expiration   value
0  plastivarios    44411633  (06/05/2023,)      20/06/2023  990204

# Facturas Vencidas

In [58]:
df_overdue_bills = prov.overdue_bills()

AttributeError: 'Timestamp' object has no attribute 'split'

In [ ]:
total = df_overdue_bills['value'].sum()
print(f'Valor Total de Cartera vencidad ${total}')

df_overdue_bills

In [12]:
df_overdue_bills['value'].sum()

990204

In [13]:
df = pd.read_excel('test.xlsx')

In [70]:
prov.payments()

TypeError: payments() missing 1 required positional argument: 'obj'

In [15]:
# Definir el nombre del archivo de salida
nombre_archivo = 'mi_dataframe.xlsx'

# Exportar el dataframe a un archivo xlsx
df.to_excel(nombre_archivo, index=False)

print(f"Dataframe exportado a {nombre_archivo}")

Dataframe exportado a mi_dataframe.xlsx

In [16]:
df = pd.read_excel('mi_dataframe.xlsx')

In [93]:
payments['valor pagado'].sum()

12337447.0

In [17]:
datetime.datetime.now().strftime('%j')

'245'

In [18]:
day, month, year = '20/06/23'.split('/')

In [19]:
171 - 243

-72

In [92]:
payments

        fecha  referencia  transaccion  aprobacion   medio pago  valor pagado
0  2023-08-31  44400922.0   95970412.0         NaN  bancolombia      211915.0
1  2023-08-31  44405853.0   95970412.0         NaN  bancolombia      285132.0
2  2023-08-31      RM3364   95970411.0         NaN     efectivo      600000.0
3  2023-08-31    VT307514   95970410.0         NaN         caja       35150.0
4  2023-08-31      RM0011   95970409.0         NaN         caja      121450.0
5  2023-08-31       RM100   95970408.0         NaN         caja       85800.0
6  2023-08-31   FEDP30585   95970407.0         NaN         caja      182500.0
7  2023-08-31      RM1598   95970406.0         NaN         caja      325000.0
8  2023-08-26      RM1598   95970405.0         NaN         caja     3465000.0
9  2023-08-31         NaN   95970404.0    355037.0      nu bank      499000.0
10 2023-09-01      RM3382   95970403.0         NaN         caja       90000.0
11 2023-09-01      RM3364   95970402.0         NaN         caja      534000.0
12 2023-09-01      RM3838   95970401.0         NaN         caja     1350000.0
13 2023-06-15    PPFE7374   95970400.0     22853.0         caja      302000.0
14 2023-09-01    PPFE7374   95970399.0     23141.0         caja      500000.0
15 2023-09-01   PTO124150   95970398.0         NaN         caja       48500.0
16 2023-09-01      RM1628   95970397.0         NaN         caja     1052000.0
17 2023-09-01    FER17808   95970396.0     79644.0         caja      300000.0
18 2023-08-19    FER17808          NaN     79594.0         caja      150000.0
19 2023-06-02    FER17808          NaN     77111.0         caja      200000.0
20 2023-07-07    FER17808          NaN     78270.0         caja      200000.0
21 2023-06-23    FER17808          NaN     77637.0         caja      300000.0
22 2023-07-28    FER17808          NaN     78046.0         caja      250000.0
23 2023-04-21    FER17808          NaN     75908.0         caja      400000.0
24 2023-05-05    FER17808          NaN     75994.0         caja      400000.0
25 2023-05-19    FER17808          NaN     76688.0         caja      150000.0
26 2023-08-25    FER17808          NaN     79625.0         caja      300000.0

In [ ]:
import matplotlib.pyplot as plt
labels = 'Frogs','dfkdf'
sizes = [1000000, 80000]

fig, ax = plt.subplots()
ax.pie(sizes, labels=labels)