In [59]:
import pandas as pd
import datetime

In [13]:
df_cartera = pd.read_excel('./cartera_proveedores.xlsx', sheet_name='cartera')
df_pagos = pd.read_excel('./cartera_proveedores.xlsx', sheet_name='pagos')

In [20]:
#agregar una columna "total pagos" que corresponde al valor total de los abonos realizados a cada factura

def pays_by_bill(invoice):
    total_pagos = df_pagos.loc[df_pagos['factura'] == invoice]
    if len(total_pagos) < 1:
        return 0
    return total_pagos['valor'].sum()

In [31]:
df_result_cartera = df_cartera
df_result_cartera['pagos'] = df_cartera['factura'].apply(lambda x: pays_by_bill(x))

In [33]:
df_result_cartera['saldo'] = df_result_cartera['valor'] - df_result_cartera['pagos']

In [35]:
df_result_cartera['estatus'] = df_result_cartera['saldo'].apply(lambda x: 'cancelado' if x == 0 else 'pendiente')

In [64]:
#filtrar las facturas por nombre de proveedor

def filter_by_name_provider():
    company = input('company name: ')
    df_result = df_result_cartera.loc[df_result_cartera['empresa'] == company]
    total_cartera = df_result['saldo'].sum()
    print(f'total cartera $ {total_cartera}')
    return df_result

In [60]:
#filtrar total de pagos por dia
def filter_total_pays_by_day(day=datetime.datetime.now().strftime('%x')):
    df_result_pagos = df_pagos.loc[df_pagos['fecha'] == day]
    df_result_pagos = df_result_pagos.groupby(['fecha']).sum()
    return df_result_pagos.sort_values(['fecha'])

In [66]:
filter_by_name_provider()

company name: multialambres
total cartera $ 2792128.0

,empresa,factura,fecha,vencimiento,valor,dias,estatus,pagos,saldo
0,multialambres,192251.0,2023-07-25,2023-08-24,870211.0,1,pendiente,0.0,870211.0
38,multialambres,190029.0,2023-07-13,2023-08-12,1921917.0,13,pendiente,0.0,1921917.0

In [63]:
filter_total_pays_by_day('25/08/23')

               valor
fecha
2023-08-25  468000.0

In [74]:
#filtrar total de pagos por mes

def filter_total_pays_by_month(month=datetime.datetime.now().strftime('%m')):
    df_result_pagos = df_pagos.loc[df_pagos['fecha']]
    return int(month)

In [78]:

df_result = df_pagos.groupby(['fecha']).sum()

                valor
fecha
2022-11-21   244000.0
2023-03-17  1000000.0
2023-03-24  2000000.0
2023-04-05   800000.0
2023-04-10  1000000.0
2023-04-19   500000.0
2023-04-21  1400000.0
2023-04-30   600000.0
2023-05-05   400000.0
2023-05-19   150000.0
2023-06-02   200000.0
2023-06-09   300000.0
2023-06-14  2790000.0
2023-06-16   500000.0
2023-06-23   300000.0
2023-07-02   420000.0
2023-07-06   300000.0
2023-07-07   512000.0
2023-07-15   302000.0
2023-07-20   300000.0
2023-07-21   411598.0
2023-07-27   400000.0
2023-07-28   250000.0
2023-08-14   200000.0
2023-08-19   450000.0
2023-08-25   468000.0
2023-12-09  2000000.0

In [147]:
today = datetime.datetime.now()
d = today.strftime('%d')
m = today.strftime('%m')
y = today.strftime('%Y')

df_result = df_pagos.loc[(df_pagos['fecha'] < f'{m}/{d}/{y}') & (df_pagos['fecha'] > f'{m}/01/{y}')]

In [148]:
df_result.groupby('fecha').sum()

               valor
fecha
2023-08-14  200000.0
2023-08-19  450000.0
2023-08-25  468000.0

'2023'