In [28]:
import datetime

In [29]:
import pandas as pd

In [30]:
class Provider:
    
    def __init__(self, name):
        self.name = name
        self.invoices = pd.read_excel('test.xlsx', sheet_name='invoices')
        self.all_invoices()
        
    def add_invoice(self, new_invoice): 
        my_dataset = pd.DataFrame({
            'company': [self.name],
            'num_invoice': [new_invoice.num_invoice],
            'date_invoice': [new_invoice.date_invoice],
            'date_expiration': [new_invoice.date_expiration],
            'value': [new_invoice.value]
            },
            columns = ['company','num_invoice', 'date_invoice', 'date_expiration','value']
        )
        
        if type(self.invoices == str):
            self.invoices = pd.DataFrame(my_dataset)
        else:
            self.invoices = pd.concat([self.invoices, my_dataset], axis=0)
    
    def get_invoice(self, num_inv):
        result = filter(lambda x: x['num_invoice'] == num_inv, self.invoices)
        return list(result)
    
    def save(self):
        name_file = 'test.xlsx'
        
        dataset = pd.read_excel('test.xlsx')
        dataset = pd.concat([self.invoices, dataset], axis=0)
        
        dataset.to_excel(name_file, index=False)  
    
    def number_day(self, date_expiration):
        day, month, year = date_expiration.split('/')
        date_result = datetime.datetime(int(year), int(month), int(day)).strftime('%j')
        return int(datetime.datetime.now().strftime('%j')) - int(date_result)
    
    def overdue_bills(self):
        self.invoices['number_day'] = self.invoices['date_expiration'].apply(lambda x: self.number_day(x))
        result = self.invoices.loc[self.invoices['number_day'] > 1]
        return result
    
    def all_invoices(self):
        self.invoices = self.invoices.loc[self.invoices['company'] == self.name]

In [31]:
class Invoice:
    def __init__(self, num_invoice, date_invoice, date_expiration, value):
        self.num_invoice = num_invoice
        self.date_invoice = date_invoice,
        self.date_expiration = date_expiration
        self.value = value

In [32]:
today = datetime.datetime.now().strftime('%x')

In [33]:
company = input('ingrese nombre de la empresa: ')

prov = Provider(company)

ingrese nombre de la empresa: plastivarios

ValueError: Worksheet named 'invoices' not found

In [23]:
'No hay facturas pendientes para {}'.format(prov.name) if len(prov.invoices) == 0 else prov.invoices

,company,num_invoice,date_invoice,date_expiration,value
0,plastivarios,44411633,"('06/05/2023',)",20/06/2023,990204
9,plastivarios,RM3838,2023-09-01 00:00:00,2023-09-01 00:00:00,1350000
10,plastivarios,PPFE7374,2023-02-23 00:00:00,2023-03-23 00:00:00,802000

## Ingreso de Facturas

In [8]:
new_invoice = Invoice('44411633','06/05/2023','20/06/2023',990204)
prov.add_invoice(new_invoice)
prov.save()

In [9]:
prov.invoices

        company num_invoice   date_invoice date_expiration   value
0  plastivarios    44411633  (06/05/2023,)      20/06/2023  990204

# Facturas Vencidas

In [10]:
df_overdue_bills = prov.overdue_bills()

In [11]:
total = df_overdue_bills['value'].sum()
print(f'Valor Total de Cartera vencidad ${total}')

df_overdue_bills

Valor Total de Cartera vencidad $990204

        company num_invoice   date_invoice date_expiration   value  number_day
0  plastivarios    44411633  (06/05/2023,)      20/06/2023  990204          74

In [12]:
df_overdue_bills['value'].sum()

990204

In [13]:
df = pd.read_excel('test.xlsx')

In [14]:
df.count()

company            14
num_invoice        14
date_invoice       13
date_expiration    13
value              14
dtype: int64

In [15]:
# Definir el nombre del archivo de salida
nombre_archivo = 'mi_dataframe.xlsx'

# Exportar el dataframe a un archivo xlsx
df.to_excel(nombre_archivo, index=False)

print(f"Dataframe exportado a {nombre_archivo}")

Dataframe exportado a mi_dataframe.xlsx

In [16]:
df = pd.read_excel('mi_dataframe.xlsx')

In [17]:
datetime.datetime.now().strftime('%j')

'245'

In [18]:
day, month, year = '20/06/23'.split('/')

In [19]:
171 - 243

-72

In [20]:
int(d)

NameError: name 'd' is not defined

In [ ]:
import matplotlib.pyplot as plt
labels = 'Frogs','dfkdf'
sizes = [1000000, 80000]

fig, ax = plt.subplots()
ax.pie(sizes, labels=labels)